<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">
      body {
        height: 100%;
        background-color: whitesmoke;
      }
    </style>

    <title>{{ name }}: {{ title }}</title>
  </head>
  <body>
    <h1 class="text-center">My Business Card</h1>
    <hr>

    <div class="container card">
      <h2 class="text-center">{{ name }}</h2>
      <p class="text-center">{{ title }} @ <strong>{{ company }}</strong></p>

      <div class="row">

        <div class="col">
          <h3 class="text-center">Contact</h3>
          <p class="text-center">Mobile: {{ mobile }}{% if officenumber %}<br>Office: {{ officenumber }}{% endif %}<br>Email: {{ email }}</p>
        </div>

        {% if addr1 and locality and state and postcode and country %}
        <div class="col">
          <h3 class="text-center">Address</h3>
          <p class="text-center">{{ addr1 }}<br>{{ locality }} {{ state }} {{ postcode }}<br>{{ country }}</p>   
        </div>
        {% endif %}

        {% if linkedin or facebook or github %}
        <div class="col">
          <h3 class="text-center">Social</h3>
          <p class="text-center">{% if linkedin %}LinkedIn: {{ linkedin }}{% endif %}{% if facebook %}<br>Facebook: {{ facebook }}{% endif %}{% if github %}<br>GitHub: {{ github }}{% endif %}</p>
        </div>
        {% endif %}

      </div>

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
