<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="../static/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/Dynamic-Card.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/nicepage.js" defer=""></script>
    <link rel="shortcut icon" href="https://www.qualtrics.com/favicon.ico?v=1">
    <link rel="icon" href="../static/images/favicon.gif">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Dynamic Card"
}</script>
    <meta property="og:title" content="{{ name }}">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
  </head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-f9c8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-16 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-27 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <img class="u-align-center-xs u-expanded-width-md u-image u-image-1" src="../static/images/QualtricsXM2.gif" data-image-width="615" data-image-height="194">
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-33 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-1">{{ name }}</h2>
                  <p class="u-align-left u-text u-text-2"><b>
                      <span style="font-weight: 400;">{{ title }}</span></b>
                  </p>
                  <p class="u-align-left u-text u-text-3"><b><i>{{ company }}</i>
                      <br></b>{{ addr1 }}<br>{{ locality }} {{ state }} {{ postcode }}<br>{{ country }}<br>{{ officenumber }}&nbsp;<br>
                  </p>
                  <p class="u-align-left u-text u-text-4">
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="tel:+61416133922">p: {{ mobile }}<br>
                    </a>
                  </p>
                  <p class="u-align-left u-text u-text-5">
                    <a class="u-btn u-button-link u-button-style u-none u-text-palette-1-base u-btn-2" href="mailto:frankvp@qualtrics.com?subject=Introductions...">e: {{ email }}<br>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-febe"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Created for Qualtrics with assistance from Hanoj</p>
      </div>

	<img height="380" src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl=https://q-business-card.herokuapp.com/card2/name={{ name }}%26title={{ title }}%26company={{ company }}%26mobile={{ mobile }}%26email={{ email }}%26addr1={{ addr1 }}%26locality={{ locality }}%26state={{ state }}%26postcode={{ postcode }}%26country={{ country }}%26photourl=x%26officenumber=%20%26linkedin=x%26github=x%26facebook=x" style="width: 380px; height: 380px;" width="380px">
	  
	  </footer>
  </body>
</html>
